#bottoms, #tops
{
    background-color: beige;   
} 

#tops > div, #bottoms > div
{
    display: inline-block;
    margin: 10px;
    border: solid 1px #000;
    text-align: center;
}

#order h2
{
    margin: 0px;
}

#order p
{
    margin: 0px;    
}

a{
    color: lightslategray;
    font-size: 50px;

}

h1{
    color: darksalmon;
    background-color: #ccffff;
    font-size: 35px;

}

input{
    align-content: center;
    align-items: center;
}

p{
    scolor: darkblue;
    font-size: 35px;
}

h1{
     color: darkblue;
    font-size: 35px;

  
}

/*button {
    background-color: hsl(120, 60%, 70%);  Green 
    border: none;
    color: darkslategray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;  Safari 
    transition-duration: 0.4s;
    
}*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}